@import '@skeletonlabs/skeleton';
@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@import './theme.css';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--shadow-md:
		0 2px 6px -1px var(--tw-shadow-color, rgb(0 0 0 / 0.1)),
		0 1px 4px -2px var(--tw-shadow-color, rgb(0 0 0 / 0.1));
	--shadow-lg:
		0 2px 15px -3px var(--tw-shadow-color, rgb(0 0 0 / 0.1)),
		0 1px 6px -4px var(--tw-shadow-color, rgb(0 0 0 / 0.1));
	--shadow-xl:
		0 4px 25px -5px var(--tw-shadow-color, rgb(0 0 0 / 0.1)),
		0 2px 10px -6px var(--tw-shadow-color, rgb(0 0 0 / 0.1));
	--shadow-2xl: 0 15px 50px -12px var(--tw-shadow-color, rgb(0 0 0 / 0.25));
}

@utility content {
	padding-inline: calc(var(--spacing) * 4);

	@variant sm {
		padding-inline: calc(var(--spacing) * 8);
	}
}

@utility btn {
	@apply flex flex-row items-center gap-2 px-8 py-2 font-medium;
}

@utility btm-lg {
	@apply gap-3 px-3 py-1.5;
}

@utility btn-xl {
	@apply gap-4 px-12 py-4 text-xl;
}

@utility preset-filled-primary-500 {
	background-image: linear-gradient(45deg, var(--color-primary-700), var(--color-primary-500));
}
