@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@import '@skeletonlabs/skeleton';
@import './theme.css';

@custom-variant dark (&:where(.dark, .dark *));

@utility content {
	padding-inline: calc(var(--spacing) * 4);

	@variant sm {
		padding-inline: calc(var(--spacing) * 8);
	}
}
