[data-theme='theme'] {
	--text-scaling: 1.067;
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-surface-50);
	--base-font-family: 'Geist', system-ui, sans-serif;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: inherit;
	--heading-font-color-dark: inherit;
	--heading-font-family: inherit;
	--heading-font-weight: bold;
	--heading-font-style: normal;
	--heading-letter-spacing: inherit;
	--anchor-font-color: var(--color-primary-500);
	--anchor-font-color-dark: var(--color-primary-500);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.25rem;
	--radius-base: 0.375rem;
	--radius-container: 0.75rem;
	--default-border-width: 1px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	--body-background-color: var(--color-surface-50);
	--body-background-color-dark: var(--color-surface-950);
	--color-primary-50: oklch(93.44% 0.04 296.32deg);
	--color-primary-100: oklch(85.52% 0.08 299.22deg);
	--color-primary-200: oklch(77.79% 0.12 299.24deg);
	--color-primary-300: oklch(70.14% 0.16 298.97deg);
	--color-primary-400: oklch(62.82% 0.19 297.37deg);
	--color-primary-500: oklch(55.99% 0.23 294.84deg);
	--color-primary-600: oklch(49.92% 0.21 294.82deg);
	--color-primary-700: oklch(43.87% 0.19 295.03deg);
	--color-primary-800: oklch(37.42% 0.17 294.97deg);
	--color-primary-900: oklch(30.95% 0.14 295.17deg);
	--color-primary-950: oklch(23.92% 0.12 294.89deg);
	--color-primary-contrast-dark: var(--color-surface-50);
	--color-primary-contrast-light: var(--color-surface-950);
	--color-primary-contrast-50: var(--color-primary-contrast-light);
	--color-primary-contrast-100: var(--color-primary-contrast-light);
	--color-primary-contrast-200: var(--color-primary-contrast-light);
	--color-primary-contrast-300: var(--color-primary-contrast-light);
	--color-primary-contrast-400: var(--color-primary-contrast-light);
	--color-primary-contrast-500: var(--color-primary-contrast-dark);
	--color-primary-contrast-600: var(--color-primary-contrast-dark);
	--color-primary-contrast-700: var(--color-primary-contrast-dark);
	--color-primary-contrast-800: var(--color-primary-contrast-dark);
	--color-primary-contrast-900: var(--color-primary-contrast-dark);
	--color-primary-contrast-950: var(--color-primary-contrast-dark);
	--color-secondary-50: oklch(96.64% 0.03 209.53deg);
	--color-secondary-100: oklch(92.25% 0.07 211.53deg);
	--color-secondary-200: oklch(88.29% 0.1 212.62deg);
	--color-secondary-300: oklch(84.71% 0.12 215.06deg);
	--color-secondary-400: oklch(81.93% 0.14 217.52deg);
	--color-secondary-500: oklch(79.72% 0.15 221.3deg);
	--color-secondary-600: oklch(68.89% 0.13 220.48deg);
	--color-secondary-700: oklch(57.62% 0.1 219.27deg);
	--color-secondary-800: oklch(46.09% 0.08 216.99deg);
	--color-secondary-900: oklch(33.46% 0.06 212.73deg);
	--color-secondary-950: oklch(19.51% 0.03 198.76deg);
	--color-secondary-contrast-dark: var(--color-surface-950);
	--color-secondary-contrast-light: var(--color-surface-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-500: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-600: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-700: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(98.43% 0.05 116.96deg);
	--color-tertiary-100: oklch(96.88% 0.1 118.02deg);
	--color-tertiary-200: oklch(95.63% 0.15 118.73deg);
	--color-tertiary-300: oklch(94.55% 0.19 120.07deg);
	--color-tertiary-400: oklch(93.76% 0.22 121.3deg);
	--color-tertiary-500: oklch(93.07% 0.23 123.09deg);
	--color-tertiary-600: oklch(80.12% 0.2 123.01deg);
	--color-tertiary-700: oklch(66.63% 0.16 122.89deg);
	--color-tertiary-800: oklch(52.74% 0.13 122.61deg);
	--color-tertiary-900: oklch(37.49% 0.09 122.15deg);
	--color-tertiary-950: oklch(20.43% 0.05 120.6deg);
	--color-tertiary-contrast-dark: var(--color-surface-950);
	--color-tertiary-contrast-light: var(--color-surface-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(97.53% 0.03 175.9deg);
	--color-success-100: oklch(91.96% 0.06 176.29deg);
	--color-success-200: oklch(86.71% 0.09 175.23deg);
	--color-success-300: oklch(82.12% 0.12 172.35deg);
	--color-success-400: oklch(77.77% 0.14 170.07deg);
	--color-success-500: oklch(73.96% 0.15 166.75deg);
	--color-success-600: oklch(63.86% 0.13 167deg);
	--color-success-700: oklch(53.34% 0.11 167.41deg);
	--color-success-800: oklch(42.59% 0.08 168.28deg);
	--color-success-900: oklch(30.74% 0.06 169.93deg);
	--color-success-950: oklch(17.58% 0.03 175.6deg);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-dark);
	--color-success-contrast-700: var(--color-success-contrast-light);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(98.1% 0.03 94.31deg);
	--color-warning-100: oklch(94.35% 0.07 89.79deg);
	--color-warning-200: oklch(90.83% 0.11 87.94deg);
	--color-warning-300: oklch(87.55% 0.14 86.14deg);
	--color-warning-400: oklch(84.54% 0.16 83deg);
	--color-warning-500: oklch(81.8% 0.17 77.83deg);
	--color-warning-600: oklch(72.47% 0.15 77.99deg);
	--color-warning-700: oklch(63.14% 0.13 78.41deg);
	--color-warning-800: oklch(53.13% 0.11 78.71deg);
	--color-warning-900: oklch(42.96% 0.09 79.66deg);
	--color-warning-950: oklch(31.76% 0.07 81.17deg);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-dark);
	--color-warning-contrast-700: var(--color-warning-contrast-dark);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(97.11% 0.01 17.5deg);
	--color-error-100: oklch(88.78% 0.06 18.28deg);
	--color-error-200: oklch(80.88% 0.1 19.61deg);
	--color-error-300: oklch(74% 0.16 21.13deg);
	--color-error-400: oklch(68.32% 0.2 23.93deg);
	--color-error-500: oklch(64.68% 0.24 26.99deg);
	--color-error-600: oklch(57.39% 0.21 26.81deg);
	--color-error-700: oklch(49.88% 0.18 26.56deg);
	--color-error-800: oklch(42.34% 0.15 26.82deg);
	--color-error-900: oklch(34.2% 0.12 26.45deg);
	--color-error-950: oklch(25.63% 0.08 25.77deg);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-dark);
	--color-error-contrast-500: var(--color-error-contrast-dark);
	--color-error-contrast-600: var(--color-error-contrast-light);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(98.81% 0 none);
	--color-surface-100: oklch(91.28% 0 none);
	--color-surface-200: oklch(83.9% 0 none);
	--color-surface-300: oklch(76.04% 0 none);
	--color-surface-400: oklch(68.3% 0 none);
	--color-surface-500: oklch(59.99% 0 none);
	--color-surface-600: oklch(52.78% 0 none);
	--color-surface-700: oklch(45.68% 0 none);
	--color-surface-800: oklch(37.91% 0 none);
	--color-surface-900: oklch(30.12% 0 none);
	--color-surface-950: oklch(21.34% 0 none);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-dark);
	--color-surface-contrast-500: var(--color-surface-contrast-dark);
	--color-surface-contrast-600: var(--color-surface-contrast-light);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}
